.spacer {
  flex: 1 1 auto;
}
.login-wrapper {
  min-height: 865px;
}
.login-card {
  width: 50%;
  margin: auto;
  background-color: antiquewhite;
}
.login-button{
  margin:  10px;
  //margin-bottom: 10px;
  width: 94px;
}
.signup-button {
  margin: 10px;
  width: 94px;
}
