<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


  <div class="row page-header">
<!--    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">-->
<!--      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>-->
<!--      <mat-icon *ngIf="sidenav.opened">-->
<!--        close-->
<!--      </mat-icon>-->
<!--    </button>-->
    <div class="col-lg-4 col-md-4 col-sm-12 logo d-flex align-items-center">
      <a class="header-logo-parent" [routerLink]="['/home']"><img class="header-logo" src="assets/truck-logo.png" aria-hidden="true"></a>
        <!--<a id="header-logo"><fa-icon [icon]="faCoffee"></fa-icon></a>-->
    </div>

    <div class="col-lg-4 col-md-4 col-sm-9 title-div d-flex align-items-center">
      <h1 class="header-title">ULINEAUTO</h1>
    </div>


    <div class="col-lg-4 col-md-4 col-sm-3 profile-icon-div">

      <div class="align-items-center">
      <a id="profile-icon-parent " [routerLink]="['profile']"><img id="profile-icon" src="assets/profile.svg" aria-hidden="true" width="60" height="60"></a>
      </div>
      <div class="row">
        <a class="link" mat-button routerLink="signup">Register</a>
        <a class="link" mat-button routerLink="">Login/Sign-out</a>
      </div>
    </div>

  </div>


<router-outlet></router-outlet>
<!--<app-home></app-home>-->


<div class="row page-header footer">
  <div class="col-lg-4 col-md-4 col-sm-12 logo d-flex align-items-center">
    <a class="header-logo-parent" [routerLink]="['/home']"><img class="header-logo" src="assets/truck-logo.png" aria-hidden="true"></a>
    <!--<a id="header-logo"><fa-icon [icon]="faCoffee"></fa-icon></a>-->
  </div>

  <div class="col-lg-4 col-md-4 col-sm-9 title-div d-flex align-items-center">
    <h1 class="header-title">ULINEAUTO</h1>
  </div>


  <div class="col-lg-4 col-md-4 col-sm-3 profile-icon-div d-flex align-items-center">
      <h4>&copy;Copyright, Harris Tanweer</h4>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

