.signup-wrapper {
  min-height: 865px;
}
.signup-card {
  width: 50%;
  margin: auto;
  background-color: antiquewhite;
}
.signup-button {
  //width: 250px;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 100%;
}
.login-button {
  //width: 250px;
  margin-bottom: 5px;
  width: 100%;
}

